:root{
    /* color variables */
    --main-blue:#004874;
    --light-blue:#2b2b6e;
    --main-white:#ccd4fe;
    --txt-white:#FFFFFF;
    --txt-dark:#000000;
    --cta-main:#30ce3b;
    



    /* typography variables */
    /* calculator found on @link https://utopia.fyi/ */
    --hide-text:0px;
    --hero-50px-30px:clamp(1.88rem, 1.44rem + 2.17vw, 3.13rem);


     /*size variables */
    --full-size-width:min(75rem, 90%);
    --section-padding:2.5rem 0rem:


}
