@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* =========================
custom variables
========================= */

:root{
    /* color variables */
    --main-blue:#004874;
    --light-blue:#44AAE4;
    --main-white:#ccd4fe;
    --txt-white:#FFFFFF;
    --txt-dark:#000000;
    --cta-main:#30ce3b;
    



    /* typography variables */
    /* calculator found on @link https://utopia.fyi/ */
    --hide-text:0px;
    --hero-60px-30px:--space-s: clamp(1.88rem, 0.99rem + 4.41vw, 3.75rem);


     /*size variables */
    --full-size-width:min(1000px, 90%);
    --section-padding:40px 0px:


}


/* =========================
global styles
========================= */


body{
    background-color: var(--main-white);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    background-color:var(--main-blue) ;

}

a{
    text-decoration: none;
    color: var(--txt-white);
}


.white-bg{
    width: 100vw;
    background-color: var(--main-white);
}

.title-banner{
    background-image: url(/images/title-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vh;
}

.title-banner h1{
    color: var(--txt-white);
    text-align: center;
    width: var(--full-size-width);
    margin-inline: auto;
    border-block-end: solid 7px;
    padding-bottom: 5px;
}

.bg-blue{
    background-color: var(--light-blue);
}

.bg-white{
    background-color: var(--main-white);
}

.section-padding{
    padding: 50px 0px;
}
/* =========================
assets
========================= */

.cta{
    background-color: var(--cta-main);
    background-image: url(/images/electricity.jpg);
    background-blend-mode: color-dodge;
    background-position: left center;
    color: var(--txt-dark);
    border-radius: 15px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 30px;
    text-align: center;
    border: solid 2px black;
}

.cta:hover{
    transform: scale(1.3, 1.3);
    background-color: #1e5d97;
    color: var(--txt-white);
    padding: 10px 50px;
    transition: all 0.5s;
    border:solid 3px #FFFFFF;
}



/* =========================
typography
========================= */


h1{
    font-size: 28px;
    font-weight: 800;
}

h2{
    font-size:24px;
    font-weight: 700;
}

h3{
    font-size:20px;
    font-weight:700 ;
}

h1, h2, h3, p{
    margin: 0px 0px 10px 0px;
    font-family:"open sans" ,"sans-serif";
    text-transform: capitalize;
}

h1, h2, h3{
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}


.white-text{
    color: var(--txt-white);
}
/* =========================
header and footer
========================= */


/* header  */
nav,
#menu-checkbox{
    display:none;
}

#menu-checkbox:checked ~ nav{
    display: block;
}


header{
    width: var(--full-size-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    top: 0px;
}

header label{
    align-self: center;
    
}

header label img{
    width:50px;
    
}

.logo{
    width: 70px;
    
}

.logo:hover{
    transform: scale(1.2, 1.2);
    filter: drop-shadow(2px 6px 6px var(--main-blue));
}

header p{
    font-weight: 800;
    line-height: 23px;
    text-wrap: wrap;
    width: 85px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav{
    background-image: url(/images/bg-img-exhibits.jpg);
    background-size: cover;
    background-position: center;
    position:absolute;
    top: 79px;
    right: 0;
    width: min(500px, 100%);
    background-color: var(--main-white);
    z-index: 1;
    border-radius: 0px 0px 0px 30px;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    margin-inline: auto;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

nav a{
    background-color: var(--main-white);
    background-image: url(/images/electricity.jpg);
    background-blend-mode: color-dodge;
    display: block;
    color: var(--txt-dark);
    border: solid #000000;
    padding: 5px 30px;
    border-radius: 15px;
    text-align: center;
    width: 160px;
}

li  :hover{
    background-color: var(--main-blue);
    scale: 1.3 1.3 ;
    color: var(--txt-white);
    border: solid #ffffff;
    transition: all 50ms;
    
}



/* footer  */

footer{
    background-color: #000000;
    color: var(--txt-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

footer div{
    display: flex;
    gap: 10px;
}







/* ===========================================================================
main section
*/


/* =========================
index.html
========================= */
.hero-container{
    width: var(--full-size-width);
    margin-inline: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.hero-img{
    background-image: url(/images/vr-hero.jpg);
    background-position: top, center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;
    font-size: var(--hide-text);
    border-radius: 30px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    color: var(--main-blue);
    gap: 35px;
}

.hero-text :nth-child(1){
    font-size: clamp(1.88rem, 0.99rem + 4.41vw, 3.75rem);
}

.hero-text a{
    align-self: center;
}


.homepage-event-section{
    width: var(--full-size-width);
    margin-inline: auto;

}

.homepage-event-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.homepage-event-text{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.homepage-event-text a,
.homepage-workshop-text a{
    align-self: center;
    justify-self: center;
}

.homepage-event-section img{
    height: 90%;
    width: 100%;
    aspect-ratio:auto;
    object-fit: cover;
    object-position: 0% 50%;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
}

.homepage-workshop-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: var(--full-size-width);
    gap: 20px;
}





/* =========================
exhibits.html
========================= */

.bg-img{
    background-image: url(/images/bg-img-exhibits.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--full-size-width);
    margin-inline: auto;
}



.section-container{
    width: var(--full-size-width);
    margin-inline: auto;
}

.section-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.main-card{
    width: calc(var(--full-size-width)/3);
    min-width: 240px;
    min-height: 225px;
    border-radius: 30px;
}



.exhibit-img{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
}

.main-card p{
    text-align: center;
    font-weight: 600;
    padding: 10px 0px;
}

.main-card:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 7px 10px 17px -4px rgba(0,0,0,1);
    transition: all 75ms;

}
/* =========================
exhibits_preview.html
========================= */


.preview-section{
    display: grid;
    justify-items: center;
    gap: 50px;
}

.preview-card{
    width: var(--full-size-width);
    min-height: 200px;
    background-color: var(--main-white);
    border-radius: 30px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    box-shadow: 7px 11px 6px -2px rgba(0, 0, 0, 0.28);
    
}

.preview-card-text{
    margin: 10px 20px
}

.preview-card-text h2{
    text-align: center;
}

.preview-card-img{
    font-size: var(--hide-text);
    background-repeat:no-repeat;
    border-radius: 0px 30px 30px 0px;
    background-size: cover;
}


.cosmology{
    background-image: url(/images/cosmology.jpg);
    background-position: bottom right;
}

.evolution{
    background-image: url(/images/evolution.jpg);
}

.biology{
    background-image: url(/images/medicin-2.jpg);
    background-position: center center;
}

.robotics{
    background-image: url(/images/robot.jpg);
    background-position: center center;
}





/* =========================
events.html
========================= */
.start-time{
    border: #51b058 solid;
    border-radius: 30px;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    padding: 10px;
}
/* =========================
visit_us.html
========================= */

.main-card-padding{
    padding: 10px;
}

.visit-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.visit-grid p{
    text-align: left;
    text-transform: capitalize;
}


.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    width: 200px;
}

.icon-img {
    width: 20px ;
}

.contact-social{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-inline:auto;
    padding: 20px 0px;
}


/* =========================
@media
========================= */

@media (max-width: 619px){
    .preview-card{
        grid-template-columns: 1fr;
    }

    .preview-card-img{
        height: 200px;
        border-radius: 30px;
        background-size: cover;
    }

    .main-card{
        width: var(--full-size-width);
    }

}

@media (max-width: 555px){

}